doctype html
html(lang='en')
  head
    title Sergey-Moshkin_resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Sergey Moshkin
        p.eyecatch-subtitle QA automation engineer
        p.eyecatch-description
          | Efficient and skilled in testing web applications and mobiles apps.
          | I have been a qa engineer for 2 years.
          | Right now I'm learning automation

      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content English, Russian
            p.contact-heading Languages
          .three.columns.contact-each-second
            p.contact-content +375-29-855-6000
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email sergey.moshkin92@gmail.com
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content Minsk, Belarus
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization Cashuback
              span.u-each-period 2020.09 ~ Current
            p.u-each-subtitle QA Test Engineer
            p.work-each-description
              | Building the Software Testing processes, improving and optimization QA processes
              | Web- and mobile application manual testing(Cashback project, Web, Mobile(iOS, android))
              | Mentoring of Junior QA
              | Work with Test Documentation(creation of bug-reports, test cases and etc)
              ul
                li API testing


          .work-each
            p.u-each-title
              span.u-each-organization CrediVault
              span.u-each-period 2020.07 ~ 2020.09
            p.u-each-subtitle QA Test Engineer
            p.work-each-description
              | Building the Software Testing processes, improving and optimization QA processes
              | Web- and mobile application manual testing(Blockchain project, Web)
              | Mentoring of Junior QA
              | Work with Test Documentation(creation of bug-reports, test cases and etc)
              ul
                li API testing




        .six.columns

          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization Belarusian State University of Informatics and Radioelectronics
              span.u-each-period 2010.09
            p.u-each-subtitle Student
            ul
              li Programming
              li Testing



    .footer
