doctype html
html(lang='en')
  head
    title Sergey-Moshkin_resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Sergey Moshkin
        p.eyecatch-subtitle QA automation engineer
        p.eyecatch-description
          | Efficient and skilled in testing web applications and mobiles apps.
          | I have been a qa engineer for 2 years.
          | Right now I'm learning automation

      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content English, Russian
            p.contact-heading Languages
          .three.columns.contact-each-second
            p.contact-content +375-29-855-6000
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email sergey.moshkin92@gmail.com
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content Minsk, Belarus
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization Cashuback
              span.u-each-period 2020.09 ~ Current
            p.u-each-subtitle President
            p.work-each-description
              | Testing web applications and mobiles apps.
              | Work with Test Documentation
              | Creating a team of testers
              | Launching test automation processes.
              ul
                li AWS management (EC2, RDS, ElastiCache, ECS, Lambda, CloudFront, CloudWatch, etc.)
                li React + Almin
                li Improve React Native app working flow using Fastlane
                li Create React Native tutorial for Programming education company
                li Consult business strategy for startups

          .work-each
            p.u-each-title
              span.u-each-organization Traimmu.inc
              span.u-each-period 2017.03 ~ 2018.04
            p.u-each-subtitle Lead Engineer
            p.work-each-description
              | I worked on broadening the scale of our web application (https://www.in-fra.jp).
              | When I first joined the company, the application was a little outdated in both infrastructure and code,
              | so our major task is refactoring the program.
              | I've decreased the application's TTFB by 2000ms.
              ul
                li Refactor Laravel source code
                li Create iOS App with React Native
                li Change the infrastructure from Heroku to AWS EC2
                li Improve deployment process using Ansible on CircleCI
                li Implement easy setup development environment Docker
                li Visualize business KPI with Metabase
                li SQL tuning



        .six.columns

          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization Belarusian State University of Informatics and Radioelectronics
              span.u-each-period 2010.09
            p.u-each-subtitle Student
            ul
              li Programming
              li Testing



    .footer
